

body 
{
    background: rgb(243, 238, 195);
    font-family: Arial, Helvetica, sans-serif;
}

.inicio { 
  background-image: url(../imagenes/wallpaper1.jpg);

}

nav {
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: rgb(250, 220, 47);
  }

.principal {
    border: 2px solid;
    border-color: rgb(250, 220, 47);
    padding: 10px;
}



footer { 
    background-color: rgb(59, 59, 59);
    color: white;
    margin-top: 10px;
    padding: 30px;
}